In [1]:
import numpy as np
import pandas as pd

# Load the dataset
df = pd.read_csv('/Users/enzowurtele/Desktop/data-science/projects/movies_2.csv')

# Display the first few rows
print(df.head(5))

   MovieID                       Title MPAA Rating      Budget        Gross  \
0        1          Look Who's Talking       PG-13   7500000.0  296000000.0
1        2          Driving Miss Daisy          PG   7500000.0  145793296.0
2        3              Turner & Hooch          PG  13000000.0   71079915.0
3        4  Born on the Fourth of July           R  14000000.0  161001698.0
4        5             Field of Dreams          PG  15000000.0   84431625.0

  Release Date    Genre  Runtime  Rating  Rating Count  \
0   1989-10-12  Romance     93.0     5.9       73638.0
1   1989-12-13   Comedy     99.0     7.4       91075.0
2   1989-07-28    Crime    100.0     7.2       91415.0
3   1989-12-20      War    145.0     7.2       91415.0
4   1989-04-21    Drama    107.0     7.5      101702.0

                                             Summary
0  After a single, career-minded woman is left on...
1  An old Jewish woman and her African-American c...
2  Det. Scott Turner (Tom Hanks) is an uptight, b...
3  The biography of Ron Kovic. Paralyzed in the V...
4  An Iowa corn farmer, hearing voices, interpret...

In [3]:
# Fill missing values in "Rating" with the median value of "Rating"
df["Rating"].fillna(value=df["Rating"].median(), inplace=True)

# Fill remaining missing values in "Rating" with the median of "Rating Count" (if applicable)
df["Rating"].fillna(value=df["Rating Count"].median(), inplace=True)

# Drop duplicate rows if any
no_duplicates = df.drop_duplicates()
print(no_duplicates)

     MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     6.9           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     6.9           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     6.9           NaN
614  2.796000e+09   2019-04-22     Action    181.0     6.9           NaN
615           NaN          NaN        NaN      NaN     6.9           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]

/var/folders/cs/28k39qrd4fd91ybwdd69fndw0000gn/T/ipykernel_3518/1364356516.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Rating"].fillna(value=df["Rating"].median(), inplace=True)
/var/folders/cs/28k39qrd4fd91ybwdd69fndw0000gn/T/ipykernel_3518/1364356516.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Rating"].fillna(value=df["Rating Count"].median(), inplace=True)

In [4]:
# Fill missing values in "Genre" with an empty string
df["Genre"].fillna('', inplace=True)

# Display descriptive statistics for numerical columns
print(df.describe().to_string(line_width=100))

# Show column names for reference
print(df.columns)

          MovieID        Budget         Gross     Runtime      Rating  Rating Count
count  616.000000  6.150000e+02  6.150000e+02  615.000000  616.000000  5.080000e+02
mean   307.500000  9.491710e+07  4.453221e+08  118.642276    6.914286  3.392521e+05
std    177.968162  6.748114e+07  3.394075e+08   22.252376    0.807137  3.213388e+05
min      0.000000  6.000000e+04  5.300000e+07   79.000000    4.100000  1.491800e+04
25%    153.750000  4.000000e+07  2.158939e+08  102.000000    6.500000  1.275922e+05
50%    307.500000  8.000000e+07  3.510404e+08  117.000000    6.900000  2.403475e+05
75%    461.250000  1.400000e+08  5.851766e+08  132.000000    7.400000  4.257000e+05
max    615.000000  4.000000e+08  2.796000e+09  201.000000    9.000000  2.127228e+06
Index(['MovieID', 'Title', 'MPAA Rating', 'Budget', 'Gross', 'Release Date',
       'Genre', 'Runtime', 'Rating', 'Rating Count', 'Summary'],
      dtype='object')

/var/folders/cs/28k39qrd4fd91ybwdd69fndw0000gn/T/ipykernel_3518/810116977.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Genre"].fillna('', inplace=True)

In [5]:
# Fill missing values in "Budget" and "Gross" with their respective median values
df["Budget"].fillna(value=df["Budget"].median(), inplace=True)
df["Gross"].fillna(value=df["Gross"].median(), inplace=True)

# Convert "Budget" and "Gross" to integers
df["Budget"] = df["Budget"].astype(int)
df["Gross"] = df["Gross"].astype(int)

/var/folders/cs/28k39qrd4fd91ybwdd69fndw0000gn/T/ipykernel_3518/305018176.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Budget"].fillna(value=df["Budget"].median(), inplace=True)
/var/folders/cs/28k39qrd4fd91ybwdd69fndw0000gn/T/ipykernel_3518/305018176.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Gross"].fillna(value=df["Gross"].median(), inplace=True)

In [6]:
# Convert "Release Date" to datetime format, with coercion for invalid formats
df["Release Date"] = pd.to_datetime(df["Release Date"], errors='coerce')

In [7]:
# Filter movies with a rating > 7 and gross > $50,000,000
filtered_movies = df[(df["Rating"] > 7) & (df["Gross"] > 50_000_000)]

# Further filter for movies rated "PG-13" or "G"
filtered_movies = df[(df["Rating"] > 7) & (df["Gross"] > 50_000_000) & (df["MPAA Rating"].isin(["PG-13", 'G']))]

print(filtered_movies)

     MovieID                                  Title MPAA Rating     Budget  \
11        12  National Lampoon's Christmas Vacation       PG-13   27000000
17        18     Indiana Jones and the Last Crusade       PG-13   48000000
27        28                    Edward Scissorhands       PG-13   20000000
30        31                     Dances with Wolves       PG-13   22000000
40        41                   Fried Green Tomatoes       PG-13   11000000
..       ...                                    ...         ...        ...
494      495    The Hobbit: The Desolation of Smaug       PG-13  250000000
506      507                           Interstellar       PG-13  165000000
507      508    Captain America: The Winter Soldier       PG-13  170000000
508      509         Dawn of the Planet of the Apes       PG-13  170000000
509      510                Guardians of the Galaxy       PG-13  170000000

         Gross Release Date            Genre  Runtime  Rating  Rating Count  \
11    71320000   1989-12-01           Action     97.0     7.6      135690.0
17   474171806   1989-05-24        Adventure    127.0     8.2      647495.0
27    53000000   1990-12-05            Drama    105.0     7.9      421760.0
30   424208848   1990-11-09          Western    181.0     8.0      224754.0
40   119418501   1991-12-27           Comedy    130.0     7.7       62493.0
..         ...          ...              ...      ...     ...           ...
494  958400000   2013-12-11          Fantasy    161.0     7.8      573246.0
506  675120017   2014-11-05  Science Fiction    169.0     8.6     1343549.0
507  714766572   2014-03-20           Action    136.0     7.7      685903.0
508  710644566   2014-06-26  Science Fiction    130.0     7.6      395425.0
509  773328629   2014-07-30           Action    121.0     8.0      978222.0

                                               Summary
11   The Griswold familys plans for a big family Ch...
17   In 1938, after his father Professor Henry Jone...
27   An artificial man, who was incompletely constr...
30   Lieutenant John Dunbar, assigned to a remote w...
40   A housewife who is unhappy with her life befri...
..                                                 ...
494  The dwarves, along with Bilbo Baggins and Gand...
506  A team of explorers travel through a wormhole ...
507  As Steve Rogers struggles to embrace his role ...
508  A growing nation of genetically evolved apes l...
509  A group of intergalactic criminals must pull t...

[104 rows x 11 columns]

In [8]:
# Filter for animation movies with rating > 7
size_filter = df[(df["Genre"].str.contains("Animation") & (df["Rating"] > 7))]

# Count of high-rated animation movies
animation_count = size_filter.shape[0]
print(animation_count)

39

In [9]:
# Filter for animation movies with rating > 7
size_filter = df[(df["Genre"].str.contains("Animation") & (df["Rating"] > 7))]

# Count of high-rated animation movies
animation_count = size_filter.shape[0]
print(animation_count)

39

In [10]:
# Filter and select top 5 highest-rated Comedy movies
top_rated_comedys = df[df["Genre"].str.contains("Comedy")].nlargest(5, "Rating")
print(top_rated_comedys[['Title', 'Rating']])

                    Title  Rating
111          Forrest Gump     8.8
185       The Truman Show     8.1
80          Groundhog Day     8.0
254        Monsters, Inc.     8.0
40   Fried Green Tomatoes     7.7

In [11]:
# Filter Romance movies released after 1999
top_romance_date = df[(df["Genre"].str.contains("Romance")) & (df["Release Date"] > "1999-12-31")]

# Select top 3 Romance movies by Gross
top_rated_romance = top_romance_date.nlargest(3, "Gross")
print(top_rated_romance[['Title', 'Rating']])

                                         Title  Rating
464  The Twilight Saga: Breaking Dawn - Part 2     5.5
442  The Twilight Saga: Breaking Dawn - Part 1     4.9
401                The Twilight Saga: New Moon     4.7

In [12]:
# Count of unique genres
genre_counts = len(df["Genre"].value_counts())
print(genre_counts)

17

In [13]:
# Calculate average Budget by Genre
average_budget_by_genre = df.groupby("Genre")["Budget"].mean()

# Calculate average Rating by Genre
most_favoured = df.groupby("Genre")["Rating"].mean()

# Display top 5 genres by average Rating
top = most_favoured.nlargest(5)
print(top)

Genre
History    7.625000
War        7.355556
Fantasy    7.337037
Western    7.333333
Drama      7.193939
Name: Rating, dtype: float64

In [14]:
# Identify genre with highest and lowest average Budget
highest_budget = average_budget_by_genre.idxmax(), average_budget_by_genre.max()
lowest_budget = average_budget_by_genre.idxmin(), average_budget_by_genre.min()

print(f'Lowest Budget Genre: {lowest_budget}\nHighest Budget Genre: {highest_budget}')

Lowest Budget Genre: ('Horror', 37004285.71428572)
Highest Budget Genre: ('Fantasy', 161211111.1111111)

In [15]:
# Show data types to verify correct types
print(df.dtypes)

# Display the last few rows to verify final data structure
print(df.tail(5))

MovieID                  int64
Title                   object
MPAA Rating             object
Budget                   int64
Gross                    int64
Release Date    datetime64[ns]
Genre                   object
Runtime                float64
Rating                 float64
Rating Count           float64
Summary                 object
dtype: object
     MovieID                                  Title MPAA Rating     Budget  \
611      612                            Toy Story 4           G  200000000
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000
613      614                          The Lion King          PG  250000000
614      615                      Avengers: Endgame       PG-13  356000000
615        0                                    NaN         NaN   80000000

          Gross Release Date      Genre  Runtime  Rating  Rating Count Summary
611  1062000000   2019-06-11  Animation    100.0     6.9           NaN     NaN
612   759400000   2019-07-13   Thriller    136.0     6.9           NaN     NaN
613  1632000000   2019-07-09      Drama    118.0     6.9           NaN     NaN
614  2796000000   2019-04-22     Action    181.0     6.9           NaN     NaN
615   351040419          NaT                 NaN     6.9           NaN     NaN